#Note that this is run as a user service
#To check on its status run "systemctl --user status fancontrol"

[Unit]
Description=Service to send fan speeds to external fan controller

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=1
StandardOutput=/home/danny/Cluster/fanController.log
WorkingDirectory=/home/danny/git/PiClusterCase-Fan-Controller/
# Command to execute when the service is started
ExecStart=/bin/python /home/danny/git/PiClusterCase-Fan-Controller/sendFanSpeed.py
